:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ff6464;
  text-decoration: inherit;
}
a:hover {
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #9895959e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #ffffff !important;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s, background-color 0.25s, color 0.25s;
  box-shadow: 0 0 0 rgba(0, 255, 0, 0); 
  border: #007900 !important;
}

button:hover {
  border-color: #168500f7 !important;
  box-shadow: 0 0 8px 4px rgba(22, 133, 0, 0.7); 
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  box-shadow: 0 0 10px 6px rgba(22, 133, 0, 0.8); 
}

button:active {
  background-color: #168500f7; 
  box-shadow: 0 0 12px 6px rgba(22, 133, 0, 1) !important; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #2e6133;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff7474 !important;
  }
  button {
    background-color: #007900 !important;
    color: #ffffff;
  }
  button:hover,
  button:focus,
  button:active,
  button:visited {
    color: #ffffff !important; 
  }
}
